.displayArea {
	border: 5px double black;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
}

.nameDisplayArea{
	text-align: center;
}

.nameClassHeader{
	text-align: center;
}

.nametag {
	text-align: center;
	display:inline;
}
.namebox {
	border-bottom:3px double black;
	font-size: 60px;
	min-width: 200px;
	min-height:60px;
	display:inline-block;
}

.infobox{
	border: 3px solid black;
}

.level {
	text-align: center;
}

.classRace {
	font-size:35px;
	}


#hpDetails{
	text-align: center;
}

.statsheetlist{
	width: 180px ;
	border:1px solid red;
	float:left;
}

.statboxul {
	width:140px;
	border: 1px solid black;
	list-style-type: none;
	text-align: center;
	padding-left:0;
	margin:0 auto;
}

.savingthrowlistbox{
	float:left;
	width:100px;
	border:1px solid blue;
}

.skillslistbox{
	border:1px solid green;
	float:left;
}