.displayArea {
	border: 5px double black;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
}

.nameDisplayArea{
	border:1px solid green;
	margin-top:25px;
	text-align:left;
}

.nameClassHeader{
	border:1px solid orange;
	max-width:300px;
	margin-left:100px;
}

.nametag {
	display:inline;
}
.namebox {
	border-bottom:3px double black;
	font-size: 35px;
	min-width: 150px;
	min-height:40px;
	display:inline-block;
}

.infobox{
	border: 3px solid black;
}

.level {
	text-align: center;
}

.classRace {
	font-size:20px;
	}


#hpDetails{
	font-size:15px;
}

.statsheetlist{
	width: 180px ;
	border:1px solid red;
	float:left;
}

.statboxul {
	width:140px;
	border: 1px solid black;
	list-style-type: none;
	text-align: center;
	padding-left:0;
	margin:0 auto;
}

.savingthrowlistbox{
	float:left;
	width:100px;
	border:1px solid blue;
}

.skillslistbox{
	border:1px solid green;
	float:left;
}

.featuresDiv{
	border:1px solid purple;
	float:left;
}
