.clear{
	clear:both;
}
.selectionArea{
	padding:2%;
	width:340px;
	float:left;
	border:1px solid black;
}

.displayArea{
	float:left;
	text-align:center;
}

.last{
	display:none;
}

.abilityscores{
	list-style-type: none;
}


.stat{
	text-align:left;
	margin:8px;
	text-decoration: none;
	border-bottom:1px solid black;
	width: 180px;
}

.minusButton{
	margin-left:5px;
	margin-right:10px;
}

.statlabel{
	font-size:20px;
}

.statnum{
	font-size:20px;
}

.modifier{
	font-size:14px;
}

.statButtons{
	margin-right:14px;
	margin-top:2.5px;
	float:right;
}

.statsheetlist{
	list-style-type: none;
}

