.clear{
	clear:both;
}

.selectionArea{
	border:1px solid blue;
	padding:1%;
	margin-left:3%;
	float:left;
}

.displayArea{
	float:left;
	border:1px solid red;
	margin-left:10%;
}

#half-elf-bonus{
	border: 1px solid black;
}

