.selectionArea{
	padding:2%;
	width:340px;
	float:left;
	border:1px solid black;
}

.displayArea{
	float:left;
	text-align:center;
}

.last{
	display:none;
}

.stat{
	text-decoration: none;
}

.abilityscores{
	list-style-type: none;
}