<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Let's learn Angular, by playing pathfinder!</title>
		<script src="lib/angular/angular.js"></script>
		<script src="js/controllers.js"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<input type="text" ng-model="charname">
		<div ng-controller = "statController">
			<select placeholder="type" ng-model="selected" ng-change="selectedRace(selected)" data-ng-options="race as race.type for race in racesList">
			</select>
			<h2>This will be the stat block for: {{charname}} - {{race.type}} </h2>
			<h3>Points Left: <span class="total">{{total}} out of 27</span></h3>
			<ul class='abilityscores'>
				<li class="stat" ng-repeat="stat in stats">{{stat.label}}
					<span class="statnum">{{stat.value}}</span>
					<button id="increaseStat" class="plusButton" ng-click="increaseStat(stat)">+</button>
				</li>
			</ul>
			<h4 id="benefitsToggle" style="display:none;">Add Race Benefits<input id="benefits" type="checkbox" ng-click="applyRacialBenefits()"></h4>
		</div>
	</body>
</html>